logs
test*
**/__pycache__/
*.cache/


huggingface_config.json
custom_WSI_pipeline/models/**/*.pth
custom_WSI_pipeline/models/**/*.bin

download_pro*.json
CPTAC*

debugging

hrd_prediction/results
visualization/**.jpg